.home {
  display: flex;
  padding: 2.6em;
  background-image: url("../../assets/garden.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: SBG;
}

#announcements {
  color: #576754;
  margin-right: 1.5em;
  width: 25vw;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  height: 100%;
}

#dashboard {
  color: #576754;
  width: 100vw;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  height: 100%;
}
