<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Slo Botanical Garden</title>
        <link rel = "stylesheet" href = "logHours.css" />

    </head>
    <body>
        <main>
            <div id = "dabox">
                <div>
                    <h3 id = "formtitle">Log Hours: </h3>
                </div>
                <div >
                    <form id = "boxesholder" action="/form/submit" method = "GET">
                        <div class = "boxcols">
                            <div class = "lilbox">
                                <label for="activity">Activity:</label>
                                <select name="activity">
                                <option value="activity 1">Activity 1</option>
                                <option value="activity 2">Activity 2</option>
                                <option value="activity 3">Activity 3</option>
                                <option value="activity 4">Activity 4</option>
                                </select>
                            </div>
                            <div class = "lilbox">
                                <label>Hours: </label>
                                <input id = "hours" value=""/>
                            </div>
                            <div class = "lilbox">
                                <label>Date: </label>
                                <input type = "date" id = "date" value=""/>
                            </div>
                        </div>
                        <div class = "boxcols">
                            <div class = "lilbox">
                                <label>Supervisor: </label>
                                <input id = "supervisor" value=""/>
                            </div>
                            <div id = "num" class = "lilbox">
                                <label>Number of Volunteers: </label>
                                <input id = "number" type = "number" value=""/>
                            </div>
                        </div>
                        <div class = "boxcols">
                            <div class = "lilbox">
                                <label>Description: </label>
                                <textarea id = "littlerbox" rows="3" cols="30" name="text" ></textarea>
                            </div>
                            <div class = "lilbox">
                                <input id = "submit" type="submit" value="Submit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>