.wholePage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conTable {
  padding: 2%;
}

h1 {
  font-size: xx-large;
}

.AdminHeader {
  background-color: white;
  font-size: x-large;
  color: #576754;
  font-family: "Days One";
  width: 40%;
  margin-left: 2%;
  padding-left: 20%;
}

.TopLabel {
  background-color: white;
  color: #576754;
  font-size: 45px;
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  padding-left: 2%;
}

.status {
  background-color: #576754;
  color: white;
  margin: 10px;
  padding: 1%;
  border-radius: 5px;
}
.hName {
  margin: 10px;
  padding: 1%;
}
