table {
  border-spacing: 0 1em;
}

td {
  padding: 10px;
}

td,
th {
  border-left: none;
  border-right: none;
  clip-path: inset(-10px 0px -10px 0px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.pagination {
  background-color: #ccddbd;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.export {
  border-radius: 10px;
  color: rgb(27, 122, 27);
  background: white;
  padding: 10px;
}
