table {
  border-spacing: 0 1em;
}

td {
  padding: 10px;
}

td:nth-child(1) {
  width: 500px;
}

td,
th {
  border-left: none;
  border-right: none;
  clip-path: inset(-10px 0px -10px 0px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.vol-table {
  background-image: url("../../assets/garden.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: SBG;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pagination {
  background-color: #ccddbd;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.export {
  border-radius: 15px;
  color: rgb(6, 70, 6);
  background: white;
  padding: 20px;
  margin-right: 10px;
}

.vol-table {
    background-image: url("../../assets/garden.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: SBG;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.pagination {
    background-color:#CCDDBD;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.export {
    border-radius: 10px;
    color: rgb(27, 122, 27);
    background: white;
    padding: 10px;
    margin-right: 10px;
}